@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$uppercase-text-transform:uppercase;
$waffle-menu-icon-color:$jet;

.main-section {
    padding:1rem 0; 
}
.main-section h1 {
    font-weight: $font-weight-normal;
    margin-bottom:1rem;
    margin-left: 1rem;
}

nav .svgIcon {
    width:40px;
    height:45px;
    margin:0.25rem;
    fill:$waffle-menu-icon-color;
}

nav .svgIcon:hover, .title .svgIcon:hover {
    fill:$steel;
}

.title .svgIcon {
    width:30px;
    height:25px;
    fill:$primary-color;
}
h1 a:hover, h1 a:focus {
    color:$steel;
}